<!DOCTYPE html>
<html>
{% load  system staticfiles %}

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title> Hutt Market - {% block title_block %}Home{% endblock title_block %}
    </title>
    <link rel="stylesheet" type="text/css" href='{% static "semantic/semantic.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "semantic/components/sidebar.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
    <script src='{% static "semantic/assets/library/jquery.min.js" %}'></script>
    <script src='{% static "js/js.js" %}'></script>
    <script src='{% static "js/modal.js" %}'></script>
    <script src='{% static "semantic/components/visibility.js" %}'></script>
    <script src='{% static "semantic/components/sidebar.js" %}'></script>
    <script src='{% static "semantic/components/transition.js" %}'></script>
    <script src='{% static "semantic/components/dimmer.js" %}'></script>
    <script src='{% static "semantic/components/modal.js" %}'></script>
</head>
<body>

<div class="ui vertical inverted sidebar menu ">
    <div class="ui container ">
        <a class="toc item">
            <i class="close icon"></i>
        </a>
        <a href="{% url 'home' %}" class="item">Hutt Market</a>
        {% if user.is_superuser %}
            <a href="{% url 'pedido-list' %}" class=" item">Listar todos os pedidos</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="item" href="{% url 'login' %}">Login</a>
        {% else %}
            {% if not user.is_superuser %}
                <a class="item" href="{% url 'carrinho-list' %}">Carrinho</a>
            {% endif %}
            <a class="item" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
</div>


<div class="pusher">
    <div class="ui inverted vertical segment">
        <div class="ui container ">
            <div class="ui large secondary inverted menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <div class="ui container ">
                    <a href="{% url 'home' %}" class="item">Hutt Market</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'pedido-list' %}" class=" item">Listar todos os pedidos</a>
                    {% endif %}

                    <div class="right menu">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}" class="ui item button">Login</a>
                        {% else %}
                            {% if not user.is_superuser %}
                                <a href="{% url 'carrinho-list' %}" class="ui item primary button">
                                    <i class="ui icon shopping cart"></i>
                                    <div id="carrinho" class="floating ui blue label carrinho">
                                        {{ request.user.username|carrinho }}</div>
                                    Carrinho
                                </a>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="ui item button">Logout</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <article class="ui stackable centered grid row ">
        {% block body_block %}{% endblock %}
    </article>
    <footer class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted middle aligned grid">
                <div class="four wide center aligned column">
                    <i class="ui icon huge rebel"></i>
                    <h4 class="ui inverted header">Hutt Market</h4>
                </div>
                <div class="eight wide center aligned column">
                    <h4 class="ui inverted header">Hutt</h4>
                    <p>Copyright © Hutt Market - 2019. Todos os Direitos Reservados.</p>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">Mapa do site</h4>
                    <div class="ui inverted link list">
                        <a href="{% url 'home' %}" class="item">Hutt Market</a>
                        {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}" class="ui item ">Login</a>
                        {% else %}
                            {% if not user.is_superuser %}
                                <a class="item" href="{% url 'carrinho-list' %}">Carrinho</a>
                            {% else %}
                                <a href="{% url 'pedido-list' %}" class=" item">Listar todos os pedidos</a>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="ui item ">Logout</a>
                        {% endif %}
                        <a href="/doc/index.html" class="ui item ">Documentação</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

</html>
