
.hidden.menu {
    display: none;
}

.espaco {
    height: 5em;
}

article.ui.grid {
    margin-top: auto;
    min-height: 31em;
}


.footer {
    min-height: 15% !important;
    margin-top: 2% !important;
    margin-bottom: 0 !important;
    color: white;
}

.ui.ribbon.label {
    margin-bottom: 1.2em !important;
}

.ui.cards > .card > .image > img {
    height: 10em;
}