{% extends 'base.html' %}

{% block title_block %}
    Lista de Produtos
{% endblock title_block %}

{% load system staticfiles %}

{% block body_block %}
    <section class="ui twelve wide column">
        <div class="ui segment">
            <h1 class="ui ribbon black large label"><span>Carrinho</span></h1>
            {% include  "includes/message.html" %}
            <div id="mensagem"></div>
            {% if object_list %}
                <table class="ui striped celled stackable black table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="two wide column">Preço Unitário</th>
                        <th class="one wide column">Quantidade</th>
                        <th class="one wide column">Preço Total</th>
                        <th class="one wide column">Rentabilidade</th>
                        <th class="one wide column">Remover</th>
                        <th class="one wide column">Comprar</th>
                        <th class="one wide column">Editar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for pedido in object_list %}
                        <tr id="pedido_{{ pedido.id }}" class="">
                            <td>
                                {{ pedido.produto.nome }}
                            </td>
                            <td id="pedido_{{ pedido.id }}_preco_produto">R$ {{ pedido.preco_unit }} </td>
                            <td id="pedido_{{ pedido.id }}_quantidade"
                                class="center aligned">{{ pedido.quantidade }}</td>
                            <td id="pedido_{{ pedido.id }}_valor_por_produto">R$ {{ pedido.preco_unit|multiplica:pedido.quantidade }}</td>
                            <td id="pedido_{{ pedido.id }}_rentabilidade">
                                {% if pedido.id|valorizacao %}
                                    <div class="ui medium">
                                        <i class="caret square up blue icon"></i> Ótima
                                    </div>
                                {% else %}
                                    <div class="ui medium">
                                        <i class="caret square up teal icon"></i> Boa
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'carrinho-produto-excluir' pedido.id %}"
                                   class="ui button red">
                                    <i class="ui icon trash alternate"> </i>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'produto-comprar' pedido.id %}"
                                   class="ui button">
                                    <i class="ui icon cart outile"> </i>
                                </a>
                            </td>
                            <td>
                                <a data-url="{% url 'pedido-editar' pedido.id %}"
                                   class="ui button secondary js-create-object">
                                    <i class="ui icon edit outline"></i>
                                </a>
                            </td>
                        </tr> {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="2" class="right aligned label">Valor total:</td>
                        <td id="valor_total" colspan="2"> {{ valor_total }} </td>
                    </tr>
                    </tbody>
                </table>
                <aside class="ui two fluid stackable buttons">
                    <a class="ui button black" href="{% url 'carrinho-limpar' %}">
                        Limpar Carrinho</a>
                    <a class="ui button" href="{% url 'carrinho-finalizar' %}">
                        Finalizar Pedido</a>
                </aside>
                <div class="ui modal tiny pedido_editar" id="modal-object"></div>

            {% else %}
                <div class="ui  message">
                    Você não possui nenhum item no seu carrinho. Aproveite e compre alguns produtos aqui.
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
