{% extends 'base.html' %}

{% block title_block %}
    Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}

    <section class="ui seven wide grid column">
        <form class="ui large form top attached segment" action="" method="POST">
            <h1 class="ui ribbon black large label"><span>Login</span></h1>
            <div class="ui stacked">
                {% if form.username.errors %}
                    <div class="ui  message negative">
                        Dados incorretos!
                    </div>
                {% endif %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Senha">
                    </div>
                </div>
                {% csrf_token %}
                <input class="ui fluid large black submit button" type="submit" value="Login">
                <div class="ui error message"></div>
            </div>
        </form>
        <div class="ui bottom attached center aligned segment">
            Novo Usuário? <a href="{% url 'signup' %}">Cadastre-se</a>
        </div>

    </section>

{% endblock %}
