{% extends 'base.html' %}

{% block title_block %}
    Lista de Produtos
{% endblock title_block %}
{% load system staticfiles %}

{% block body_block %}
    <section class="ui twelve wide column">
        <div class="ui segment">
            <h1 class="ui ribbon black large label"><span>Lista de todos os pedidos </span></h1>
            {% include  "includes/message.html" %}
            <div id="mensagem"></div>
            {% if object_list %}
                <table class="ui striped celled stackable black table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço Unitário</th>
                        <th>Quantidade</th>
                        <th>Preço Total</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Processo</th>
                        <th>Rentabilidade</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for pedido in object_list %}
                        <tr id="pedido_{{ pedido.id }}">
                            <td>
                                {{ pedido.produto.nome }}
                            </td>
                            <td id="pedido_{{ pedido.id }}_preco_produto">R$ {{ pedido.preco_unit }} </td>
                            <td id="pedido_{{ pedido.id }}_quantidade">{{ pedido.quantidade }}</td>
                            <td id="pedido_{{ pedido.id }}_valor_por_produto">R$ {{ pedido.preco_unit|multiplica:pedido.quantidade }}</td>
                            <td>
                                {{ pedido.cliente }}
                            </td>
                            <td>
                                {% if pedido.desativado %}Desativado{% else %}Ativo{% endif %}
                            </td>
                            <td>
                                {% if pedido.finalizado %}Finalizado{% else %}Aberto{% endif %}
                            </td>
                            <td>
                                {% if pedido.id|valorizacao %}
                                    <div class="ui medium">
                                        <i class="caret square up blue icon"></i> Ótima
                                    </div>
                                {% else %}
                                    <div class="ui medium">
                                        <i class="caret square up teal icon"></i> Boa
                                    </div>
                                {% endif %}
                            </td>
                        </tr> {% endfor %}
                    </tbody>
                </table>
                <div class="ui modal tiny pedido_editar" id="modal-object"></div>

            {% else %}
                <div class="ui  message">
                    Você não possui nenhum item no seu carrinho. Aproveite e compre alguns produtos aqui.
                </div>
            {% endif %}

        </div>
        {% include "includes/paginete.html" %}
    </section>
{% endblock %}
