{% extends 'base.html' %}

{% block title_block %}
    Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}

    <section class="ui twelve wide column">
        <div class="ui segment">
            <h1 class="ui ribbon black large label"><span>Lista de Produtos</span></h1>
            {% include "includes/message.html" %}
            <div id="mensagem"></div>
            <div class="ui special cards">
                {% for produto in object_list %}
                    <div class="card attached">
                        <div class="blurring dimmable image">
                            {% if not request.user.is_superuser %}

                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a class="ui inverted js-create-object button"
                                               data-url="{% url 'pedido-produto-add' produto.id %}">Adicionar ao
                                                Carrinho</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <img src="/media/{{ produto.imagem }}">
                        </div>
                        <p class="content">
                            <span class="header">{{ produto.nome }}</span>
                            <span class="meta">
                                <span class="date">Preço Unitário: R${{ produto.preco_unit }}</span>
                            </span>
                        </p>
                        <p class="extra content">
                            <i class="asterisk icon"></i>
                            {{ produto.multiplo }} Produto(s) devem ser comprados
                        </p>
                        {% if not request.user.is_superuser %}
                            <div class="extra content">
                                <a>
                                    <button type="button"
                                            class="ui button button e-green-button js-create-object e-margin-top fluid attached"
                                            data-url="{% url 'pedido-produto-add' produto.id %}"> Adicionar ao Carrinho
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="ui modal tiny pedido_add" id="modal-object"></div>
            </div>
        </div>
        {% include "includes/paginete.html" %}

    </section>
{% endblock %}
