{% extends 'base.html' %}

{% block title_block %}
    Lista de Produtos
{% endblock title_block %}
{% load system staticfiles %}
{% block body_block %}
    <section class="ui ten wide column">
        <div class="ui segment">
            <h1 class="ui ribbon black large label"><span>Cadastro de Usuário</span></h1>
            {% include  "includes/message.html" %}
            {% include  "includes/form.html" %}
        </div>
    </section>
{% endblock %}
